<div id="header">
  <div id="home">Home</div>
  <div id="www">www</div>
  <div id="last_boop">last boop 0 days ago</div>
</div>

<div id="stats">
  <div id="boxes" class="stat">
    <div class="number">0 Boxes</div>
    <div class="pipe">|</div>
    <div class="add_more">+</div>
  </div>

  <div id="objects" class="stat">
    <div class="number">0 Objects</div>
    <div class="pipe">|</div>
    <div class="add_more">+</div>
  </div>

  <div id="people" class="stat">
    <div class="number">0 People</div>
    <div class="pipe">|</div>
    <div class="add_more">+</div>
  </div>

  <div id="threads" class="stat">
    <div class="number">0 Threads</div>
    <div class="pipe">|</div>
    <div class="add_more">+</div>
  </div>
</div>
