@import "compass/reset";
@import "compass/css3";

body, html {
  color: #8E8E8E;
  background: black;
  font: 1.5em Helvetica, Arial;
  font-weight: 200;
  margin: 0.4em;
}

#header {
  text-transform: uppercase;
  margin-bottom: 0.4em;
  #home,
  #www,
  #last_boop, {
    display: inline-block;
    margin-right: 1.2em;
  }
  #last_boop {
    text-transform: lowercase !important;
    color: #393939;
  }
}

#stats {
  color: white;
  margin-bottom: 0.4em;
  .stat {
    display: inline-block;
    margin-right: 1.1em;
  }
  .number,
  .pipe,
  .add_more {
    display: inline-block;
  }
  .pipe {
    margin-left: 0.2em;
    margin-right: 0.2em;
    color: #393939;
  }
  .add_more {
    color: #5CD12B;
  }
  #threads {
    color: #393939;
    .add_more {
      color: #393939;
    }
  }
}
